.date-divider{
    padding: 1rem 3rem;
    position: relative;
    text-align: center;
    cursor: default;
}

.date-divider .divider-line {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    left: 1.5rem;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: none;
}

.date-divider .divider-label {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    background: rgb(29, 31, 39);
}
