.message-box {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

.message-box .message-box-header {
    position: fixed;
    left: 15rem;
    right: 0;
    height: 4rem;
    padding: 1rem 2rem;
    background-color: rgb(29, 31, 39);
    z-index: 2;
}

.message-box .message-box-header .message-room-name {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.message-box .message-list-wrapper{
}

.message-box .message-list-wrapper .message-list{
    height: 40rem;
    overflow-y: auto;
}

.message-box .message-list-wrapper .message-scroll {
}

.message-box .message-input-container {
    position: fixed;
    bottom: 0;
    left: 15rem;
    right: 0;
    height: 4rem;
    background-color: white;
    z-index: 2;
}

