.message-box {
    display: table-cell;
}

.message-box .room-sidebar-offset {
    left: 15rem;
}

.message-box .message-box-header {
    position: fixed;
    height: 4rem;
    right: 0;
    padding: 1rem 2rem;
    background-color: rgb(29, 31, 39);
    cursor: default;
    z-index: 2;
}

.message-box .message-box-header .message-room-name {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.message-box .message-list-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.message-box .message-list-wrapper .message-list{
    position: absolute;
    min-width: 10rem;
    top: 4rem;
    bottom: 4rem;
    overflow-y: auto;
}

.message-box .message-list-wrapper .message-scroll {
}

.message-box .message-input-container {
    height: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 2;
}

