.message-box {
    display: table-cell;
    vertical-align: top;
}

.message-box .message-box-header {
    position: fixed;
    left: 15rem;
    right: 0;
    height: 4rem;
    padding: 0 2rem;
    background-color: rgb(29, 31, 39);
    z-index: 2;
}

.message-box .message-box-header .message-room-name {
    position: absolute;
    top: 0.7rem;
    font-size: 2rem;
    font-weight: 700;
}

.message-box .message-list {
    position: relative;
    overflow-y: scroll;
    margin-top: 4rem;
}

.message-box .message-list .message-instance {
}

.message-box .message-input-container {
    position: fixed;
    bottom: 0;
    left: 15rem;
    right: 0;
    height: 4rem;
    background-color: white;
    z-index: 2;
}