.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    z-index: 9999;
}

.modal-dialog:target {
    display: block;
    opacity: 1;
}

.modal-dialog .modal-dim{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog .modal-form {
    position: fixed;
    top: 5rem;
    left: 50%;
    min-height: 10rem;
    width: 30rem;
    margin-left: -15rem;
    padding-bottom: 3rem;
    background-color: white;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.modal-dialog .modal-form .modal-header {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: rgb(239, 248, 248);
}

.modal-dialog .modal-body {
    padding: 1rem;
    font-size: 0.8rem;
}

.modal-dialog .modal-body p {
    margin: 0;
}

.modal-dialog .modal-body .modal-entry-group {
    margin-top: 1rem;
}

.modal-dialog .modal-label {
    display: inline-block;
    padding-right: 1rem;
    width: 5rem;
    text-align: right;
    font-weight: 600;
}

.modal-dialog .modal-input {
    padding: 0.5rem;
    width: 22rem; 
}

.modal-dialog .modal-footer {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    text-align: center;
}

.modal-dialog .modal-footer .modal-button {
    display: inline-block;
    margin: 0 0.5rem;
    height: 2rem;
    width: 5rem;
    vertical-align: middle;
    text-align: center;
    line-height: 2rem;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.modal-button.red {
    color: rgb(255, 104, 104);
    border-color: rgb(255, 104, 104);
}

.modal-button.red:active {
    color: white;
    background-color: rgb(255, 104, 104);
}

.modal-button.green {
    color: rgb(104, 255, 139);
    border-color: rgb(104, 255, 139);
}

.modal-button.green:active {
    color: white;
    background-color: rgb(104, 255, 139)
}