.modal-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.modal-form {
}

.modal-header {
}

.modal-body {
}

.modal-label {
}

.modal-input {
}

.modal-footer {
}

.modal-cancel {
}

.modal-submit {
}
