.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.modal-background .modal-form {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -15rem;
    min-height: 10rem;
    width: 30rem;
    background-color: white;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.modal-background .modal-form .modal-header {
}

.modal-background .modal-body {
}

.modal-background .modal-label {
}

.modal-background .modal-input {
}

.modal-background .modal-footer {
}

.modal-background .modal-footer .modal-cancel {
}

.modal-background .modal-footer .modal-submit {
}
