.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    z-index: 9999;
    cursor: default;
}

.modal-dialog.animate-enter {
    opacity: 0.01;
}

.modal-dialog.animate-enter.animate-enter-active {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.modal-dialog.animate-leave {
    opacity: 1;
}

.modal-dialog.animate-leave.animate-leave-active {
    opacity: 0.01;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.modal-form.animate-enter {
    opacity: 0.01;
}

.modal-form.animate-enter.animate-enter-active  {
    opacity: 1;
    -webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

.modal-form.animate-leave {
    visibility: hidden;
    opacity: 1;
}

.modal-form.animate-leave.animate-enter-active  {
    opacity: 0.01;
    -webkit-transform: translateY(3rem);
	-moz-transform: translateY(3rem);
	transform: translateY(3rem);
}

.modal-dialog .modal-dim{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

.modal-dialog .modal-form {
    position: fixed;
    top: 5rem;
    left: 50%;
    min-height: 10rem;
    width: 30rem;
    margin-left: -15rem;
    padding-bottom: 3rem;
    background-color: rgb(240, 240, 240);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(3rem);
	-moz-transform: translateY(3rem);
	transform: translateY(3rem);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.modal-dialog .modal-form .modal-header {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(69, 143, 163);
}

.modal-dialog .modal-body {
    padding: 1rem;
}

.modal-dialog .modal-body p {
    margin: 0;
}

.modal-dialog .modal-body .modal-entry-group {
    margin-top: 1rem;
}

.modal-dialog .modal-label {
    display: inline-block;
    padding-right: 1rem;
    width: 7rem;
    text-align: right;
    font-weight: 600;
}

.modal-dialog .modal-input {
    padding: 0.5rem;
    width: 18rem; 
    border: 1px solid rgb(159, 159, 159);
    background-color: rgb(240, 240, 240);
}

.modal-dialog .modal-footer {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    text-align: center;
}

.modal-dialog .modal-footer .modal-button {
    display: inline-block;
    margin: 0 0.5rem;
    height: 2rem;
    width: 5rem;
    vertical-align: middle;
    text-align: center;
    line-height: 2rem;
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.modal-button.red {
    color: rgb(222, 61, 61);
    border-color: rgb(222, 61, 61);
}

.modal-button.red:active {
    color: white;
    background-color: rgb(222, 61, 61);
}

.modal-button.green {
    color: rgb(24, 178, 60);
    border-color: rgb(24, 178, 60);
}

.modal-button.green:active {
    color: white;
    background-color: rgb(24, 178, 60);
}