.room-box {
    float: left;
    width: 15rem;
    color: rgb(211, 202, 202);
    background-color: rgb(60, 82, 88);
}

.room-box.full-height {
    overflow: hidden;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.room-box .room-hover:hover{
    cursor: pointer;
    color: white;
}

.room-box .room-box-header{
    display: table;
    padding: 1rem;
    width: 100%;
}

    .room-box .room-box-title{
        display: table-cell;
        width: 75%;
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .room-box .create-room-button{
        display: table-cell;
        font-size: 1.4rem;
        width: 25%;
    }

.room-box .room-node{
    padding: 0.3rem 1.5rem;
}

    .room-box .room-node:hover{
        background-color: rgb(100, 173, 91);
    }