.room-box {
    display: table-cell;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15rem;
    color: rgb(234, 234, 234);
    background-color: rgb(69, 143, 163);
    z-index: 2;
}

.room-box .room-hover:hover{
    cursor: pointer;
    color: white;
}

.room-box .room-box-header{
    display: table;
    height: 4rem;
    padding: 1rem;
    width: 100%;
}

.room-box .room-box-header .room-box-title{
    display: table-cell;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.room-box .room-box-header .room-box-title:hover{
    cursor: default;
}

.room-box .create-room-button{
    display: table-cell;
    font-size: 1.5rem;
}

.room-box .room-node{
    padding: 0.3rem 1.5rem;
}

.room-box .room-node:hover{
    background-color: rgb(100, 173, 91);
}